---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import PostgreSQL from "./icons/PostgreSQL.astro";
import Python from "./icons/Python.astro";
import Flask from "./icons/Flask.astro";
import React from "./icons/React.astro";
import Bootstrap from "./icons/Bootstrap.astro";
import Api from "./icons/Api.astro";
import Flux from "./icons/Flux.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#003159] text-white",
    icon: PostgreSQL,
  },
  PYTHON: {
    name: "Python",
    class: "bg-black text-white",
    icon: Python,
  },
  FLASK: {
    name: "Flask",
    class: "bg-[#003159] text-white",
    icon: Flask,
  },
  REACT: {
    name: "React",
    class: "bg-black text-white",
    icon: React,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-black text-white",
    icon: Bootstrap,
  },
  API: {
    name: "SWAPI.tech",
    class: "bg-[#003159] text-white",
    icon: Api,
  },
  FLUX: {
    name: "Arq. FLUX",
    class: "bg-[#003159] text-white",
    icon: Flux,
  },
};

const PROJECTS = [
  {
    title: "Dr. Now - App médica que evalua tus análisis clínicos",
    description:
      "App médica que evalua y da recomendaciones segun los resultados de tus análisis clínicos, con un plus que tiene un directorio médico para agendar citas. Creada desde cero con Python, Flask, React.js, Bootstrap, PostgreSQL.",
    link: "https://sample-service-name-w90y.onrender.com/",
    github: "https://github.com/LOLA-1980/proyectofinal-grupo3",
    image: "/projects/Dr.Now.webp",
    tags: [TAGS.POSTGRESQL, TAGS.PYTHON, TAGS.FLASK, TAGS.REACT],
  },
  {
    title: "Star Wars Blog - Consumo de una API para mostrar información acerca de Star Wars ",
    description:
      "Aplicación Web donde se consume información de la API de Star Wars, mostrando información detallada acerca de los personajes, naves espaciales y planetas. Creada desde cero con React.js, Bootstrap y la API SWAPI.tech.",
    link: " https://lola-1980-blog-star-wars-jsoypgov6-lola1980s-projects.vercel.app",
    github: "https://github.com/LOLA-1980/Blog-StarWars",
    image: "/projects/swBlog.webp",
    tags: [TAGS.REACT, TAGS.API, TAGS.BOOTSTRAP, TAGS.FLUX],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
